<div>
<label>Name</label>
<input type="text" name="title" value="<%= blog.title %>">
<label>Blogger</label>
<select name="blogger">
    <% blogger.forEach(blogger=>{%>
        <% if(blogger.id==blog.blogger){%>
        <option selected label="<%=blogger.name%>" value="<%=blogger.id%>"></option>
        <% } else { %>
        <option selected label="<%=blogger.name%>" value="<%=blogger.id%>"></option>
        <% } %>
    <%})%>
</select>
</div>

<div>
    <label>Cover</label>
    <input type="file" name="cover">
</div>

<div>
    <label>Content</label>
    <textarea name="content"><%= blog.content %></textarea>
</div>